<nav class="nav">
    <div class="nav__logo">
        <img src="./assets/Rick-and-Morty.png" alt="Rick and Morty logo">
    </div>
    <a routerLink="/home" routerLinkActive="active" class="nav__item" href="#">
        <span class="nav__item__icon"><mat-icon aria-hidden="false" aria-label="home" fontIcon="home"></mat-icon></span>
        <span class="nav__item__text">Home</span>
    </a>
    <a routerLink="/list" routerLinkActive="active" class="nav__item" href="#">
        <span class="nav__item__icon"><mat-icon aria-hidden="false" aria-label="list" fontIcon="list"></mat-icon></span>
        <span class="nav__item__text">List</span>
    </a>
</nav>
